@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Founded in 2016, We are a company driven by your intest to learn more about what you drive. We started off
    as a small company with 50 team members and a database of 6 vehicles. From there we have grown exponentially!
    Our database now has more than 1 million different vehicles varying in model and style. We look forward to
    to serving you! Please email us if there is anything you think we could do better.
    
    Thanks!
    -The VehicleSearch Team
</p>
