@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4225 University Avenue<br />
    Columbus, GA 31901<br />
    <abbr title="Phone">P:</abbr>
    706-555-3225
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@vehiclesearch.com">Support@vehiclesearch.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@vehiclesearch.com">Marketing@vehiclesearch.com</a>
</address>